* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 80px;
}

.trybewarts-header-logo {
  height: 100%;
}

.trybewarts-login {
  display: flex;
  height: 20px;
}

main , #evaluation-form {
  display: flex;
}

#evaluation-form {
  flex-direction: column;
  width: 675px;
}

#label-content {
  display: flex;
  padding: 2%;
}

#container-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-checkbox {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  width: 55%;
}
